extends layout
include mixins/video_thumb

block content
  .container
    h2 VIDID
    center
        div(id='top')
            if(creator)
                p Creator Name: #{ creator.name }
                p Creator ID: #{ creator._id }
                p Creator about: #{ creator.about }
                p Creator followers: #{ creator.followers }
                p Creator following: #{ creator.following }
            if(user)
                p User Name: #{ user.username } 
                p User ID: #{ user._id }
                a(href="/logout") Logout
                br
                br
                include widgets/upload_form
            if(!user)
                include widgets/login_form
    hr
    h4 Recent Videos
    div(id='recent_videos')
        if(videos)
            each video in videos
                +vid(video)